{% extends "answers/base.html" %}

{% block content%}
    <h2>{{ question.title }}</h2>
    <p>{{ question.content }}</p>
    <div class="row">
        <div class="col-4">{% for tag in question.tags.all %} <a href="/?search=[{{ tag.name }}]" class="btn btn-info btn-sm" role="button">{{ tag.name }}</a>&nbsp;{% endfor %}</div>
        <div class="col-4">{{ question.author.profile.avatar_href }} {{ question.author.username }}</div>
    </div>

    <hr />
{% for answer in question.answers.all %}
    <div class="row">
        <div class="col-lg-2">
            <div><a href="{% url 'view_question_vote' question.id answer.id 'plus' %}">+</a></div>
            <div>{{ answer.votes.count }}</div>
            <div><a href="{% url 'view_question_vote' question.id answer.id 'minus' %}">-</a></div>
        </div>
        <div>{{ answer.content}}</div>
    </div>
    <div class="row">
        <div class="col-4">&nbsp;</div>
        <div class="col-4">{{ question.author.profile.avatar_href }} {{ question.author.username }}</div>
    </div>

    <hr />
{% endfor %}
    <h4>Your answer</h4>
<form method="POST" action="{% url 'view_question' question.id %}">{% csrf_token %}
    <div class="form-group">
        <textarea name="answer" id="answer" class="form-control"></textarea>
    </div>
    {% for error in errors %}
    <div>Error: {{ error }}</div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}