{% extends "answers/base.html" %}


{% block content %}

<h2>Ask question</h2>
<form method="POST" action="{% url 'ask' %}" novalidate>{% csrf_token %}

{{ form.non_field_errors }}

{% for field in form.visible_fields %}
    <div class="form-row">
        <div class="col-sm-3">{{ field.label_tag }}</div>
        <div class="col-9">{{ field }}
            {% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
    </div>
{% endfor %}

    <button type="submit" class="btn btn-lg btn-primary btn-block mt-4">Ask!</button>
</form>
<script lang="javascript">
    {% for field in form.errors %}
        $("#id_{{ field}}").addClass('is-invalid');
    {% endfor %}
</script>


{% endblock %}