{% extends "answers/base.html" %}


{% block content %}

<h2>Ask question</h2>
<form method="POST" action="{% url 'ask' %}">{% csrf_token %}
{% for field in form %}
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="title">{{ field.label }}</label>
            </div>
        </div>
        <div class="col-9{% if field.errors %} is_invalid{% endif %}">
            {{ field }}
            <div class="invalid-feedback">
            {{ field.errors }}
            </div>

        </div>
    </div>
{% endfor %}
    {% for error in errors %}
    <div>Error: {{ error }}</div>
    {% endfor %}
    <button type="submit" class="btn btn-lg btn-primary btn-block mt-4">Ask!</button>
</form>
{% endblock %}