{% extends "answers/base.html" %}

{% block content %}

<h2>User Settings</h2>
<form method="POST" action="{% url 'view_user' request.user.id %}" enctype="multipart/form-data">
{% csrf_token %}
{% for field in form.visible_fields %}
    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <label for="{{ field.name }}">{{ field.label }}</label>
            </div>
        </div>
        <div class="col-9 {% if field.errors %} is_invalid{% endif %}">
            {{ field }}
            <div>
            {{ field.errors }}
            </div>

        </div>
    </div>
{% endfor %}
    {% for error in form.errors %}
    <div class="invalid-feedback">Error: {{ error }}</div>
    {% endfor %}
    <button type="submit" class="btn btn-lg btn-primary btn-block mt-4">Save</button>
</form>
{% endblock %}