{% extends "answers/base.html" %}

{% block content %}

<h2>Settings</h2>
<form method="POST" action="{% url 'view_user' user.id %}">{% csrf_token %}
    <div class="form-group">
        <label for="login">Login</label>
        {{ user.username }}
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" value="{{ user.email }}" />
    </div>
    <div class="form-group">
        <label for="avatar">Avatar</label>
        <imp src="{{ user.profile.avatar_href }}"><br/>
        <input type="file" class="form-control" id="file" name="file" />
    </div>

    {% for error in errors %}
    <div>Error: {{ error }}</div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}